
/*SECTIONING */


/*BACKGROUND COLOR */

body {
    margin: 0;
}


.navigation_bar {
    margin: 0;
    height: 20%;
    background: linear-gradient(to bottom, rgba(222, 200, 183, 0.8), rgba(222, 218, 219, 1.0), rgba(245, 245, 245, 1.0));
}

.BottomOfPage {
  background: linear-gradient(to bottom, rgba(222, 200, 183, 0.8), rgba(222, 218, 219, 1.0));
  height: 300px;
  margin: 0;
}

.Content-Section {
  margin: 0;
  background: #F5F5F5;
}

/*NAV BAR */

.MinSittLogo img {
  width: 120px; /* Add 'px' for proper CSS syntax */
  height: auto; /* Add 'px' for proper CSS syntax */
  margin-left: 60px; /* Add 'px' for proper CSS syntax */
  position: fixed;
  z-index: 2000;
}

.Home a, .Projects a, .Resume a {
  color: black;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  font-family: "Work Sans";
}

.navbar {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  position: fixed; /* Fixed positioning */
  top: 0; /* Position it at the top */
  right: 0; /* Position it at the right */
  width: 100%; /* Full width */ /* Set a background color to avoid transparency issues */
  z-index: 1000; /* Ensure the navbar stays on top of other elements */
  padding: 10px; /* Add some padding */
  background: rgba(255, 255, 255, 0.6);
}

.navbar ul {
  display: flex; /* Make the <ul> a flex container */
  list-style-type: none; /* Remove default list style */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.navbar li {
  margin: 10px;
  padding: 4px 30px;
  position: relative;
  border-right: 1px solid black;
}

.navbar li:last-child {
  border-right: none;
}

  /*LANDING PAGE */

  .landing-page {
    font-family: "Work Sans";
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Ecobear_Title {
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
  }

  .Snackpass_one-liner {
    font-size: 18px;
    font-weight: 300;
    width: 50%;
    text-align: center;
  }

  .High-fi-prototypes {
    display: flex;
    flex-direction: row;
  }

  #Prototypes img  {
    width: 90%; 
    height: auto; 
    padding: 40px;
    border-radius: 0%;
    margin-left: 40px;
  }

  /* PROJECT DETAILS SECTION */

  .ProjectDetails {
    display: flex;
    flex-wrap: wrap;
    width: 900px; /* specify units like px for width */
    margin-left: 50px; /* specify units like px for margin */
    flex-direction: colum;
    flex-direction: row;
    justify-content: space-evenly;
    position: realtive;
  }

  .ProjectDetails {
    font-size: 20;
    display: flex;
    justify-content: center;
    justify-content: space-between; /* Evenly space out the divs */
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    margin-bottom: 100px;
    margin-top: 50px;
}

.Files {
  margin-right: 10px;
}

 #FigmaFile {
  text-decoration: none;
  display: inline-block;
}

.Role,
.Time,
.ProjectType,
.Software,
.Skills,
.Files {
    flex: 0 0 calc(20% - 10px); /* Set the width of each div to 20% of the container width minus margin */
    margin: 5px; /* Add margin to create space between the divs */
}

#ProjectDetailSection,
#ProjectDetailDescription {
    line-height: 1.7;
    margin: 0; /* Remove default margin */
}

/* Media query for smaller viewports */
@media screen and (max-width: 600px) {
    .Role,
    .Time,
    .ProjectType,
    .Software,
    .Skills,
    .Files {
        flex: 0 0 calc(100% - 10px); /* Set the width of each div to 100% minus margin */
    }
}


  .Time {
    margin-left: 20;
  }
  /* OVERVIEW SECTION */

  .Context {
    font-family: "Work Sans";
    max-width: 1500px;
  }

  .ContextTitle {
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 40px;
    justify-content: center;
    width: 90%;
    margin-left: 200;
  }

  .ContextSummary, .DesignathonPrompt {
    font-family: "Work Sans";
    font-weight: 350;
    font-size: 17px;
    width: 70%;
    margin-left: 200;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
  }

  

.Snackpass-Pages {
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Snackpass-Pictures-1 {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  margin: 0;
  padding: 5;
  margin-left: 200px;
}


.Picture1 {
  align-items: center;
  justify-content: space-evenly;
}

.Picture1 img {
  width: 200px; /* Ensure images don't exceed their container's width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 0; /* Remove border radius if not needed */
  padding: 10px;
}

.PreliminaryResearch_Conceptualization {
  max-width: 1500px;
}

.PreliminaryResearch_Conceptualization_Title, .KeyFunctionalityTitle, .UserFlowLofiTitle, .MascotSectionTitle, 
.ResultsTitle, .ReflectionTitle, .High-Fi-Title, .ShoppingScreenSectionTitle {
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 40px;
    margin-left: 200;
    margin-top: 100;
}

.PreliminaryResearch_Conceptualization_Title {
  width: 65%;
}

.HomePageSectionTitle, .ShoppingScreenSectionTitle, .AffirmationScreenTitle, .ImpactPageTitle, 
.AIChatboxTitle {
  font-family: "Work Sans";
  font-weight: bold;
  font-size: 30px;
  margin-top: 20;
  margin-left: 200;
  padding: 10px;
}

.SustainableLivingText, .EmergingTechnologyText, .MissionStatementText, .MissionStatementFull, 
.KeyFunctionalityText, .UserFlowLofiText, .MascotSectionText, .ReflectionText, .ResultsSectionText, 
.High-Fi-Intro, .HomePageSubtitle, .ShoppingSubtitle, .AffirmationSubtitle {
    font-family: "Work Sans";
    font-weight: 350;
    font-size: 17px;
    width: 70%;
    margin-left: 200;
    line-height: 1.5;
}

.AffirmationWalkthrough {
  padding: 5px;
}

.MissionStatementFull {
    font-family: "Work Sans";
    font-weight: 350;
    font-size: 20px;
    width: 70%;
    margin-left: 200;
    line-height: 1.5;
}


 .PsychologyResearch, .FunctionalityList {
  font-family: "Work Sans";
  font-weight: 350;
  font-size: 17px;
  width: 50%;
  margin-left: 250;
  line-height: 1.5;
  padding: 5;
 }


.bullet-list {
  list-style-type: disc; /* Use 'disc' for filled circles or 'circle' for empty circles */
  margin-left: 20px; /* Adjust margin as needed */
}
.list-item {
  margin-bottom: 10px; /* Adjust margin as needed */
  padding-left: 20px; /* Adjust padding to increase space between bullets */
}


.UserFlowImage, .UserFlowsMap, .LoFiImage, .MascotImage, .ResultsImages, .HomePagePrototypes, .HomePageSubtitle,
.ShoppingPrototypes, .ShoppingSubtitle, .AffirmationVideo, .AffirmationSubtitle, .AIChatboxPrototypes, 
.ImpactPagePrototype, .EcobearLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.UserFlowImage img, .MascotImage img, .ResultsImages img {
  max-width: 50%; /* Ensure images don't exceed their container's width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 0; /* Remove border radius if not needed */
  padding: 10px;
}

.LoFiImage img {
  max-width: 70%; /* Ensure images don't exceed their container's width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 0; /* Remove border radius if not needed */
  padding: 10px;
}

.SustainableLivingTitle, .EmergingTechnologyTitle, .MissionStatementTitle {
  font-family: "Work Sans";
  font-weight: bold;
  font-size: 17px;
  margin-left: 200;
  line-height: 1.5;
}

.UserFlowsMap {
  font-family: "Work Sans";
  font-weight: bold;
  color: #89ab9e;
  font-size: 17px;
  padding: 10px;
}

.Reflection {
  margin-bottom: 100px;
}

.HomePagePrototypes img, .ImpactPagePrototype img {
  width: 20%; /* Ensure images don't exceed their container's width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 0; /* Remove border radius if not needed */
}

.ShoppingPrototypes img {
  width: 90%; /* Ensure images don't exceed their container's width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 0; /* Remove border radius if not needed */
}

.AIChatboxPrototypes img, .EcobearLogo img {
  width: 70%; /* Ensure images don't exceed their container's width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 0; /* Remove border radius if not needed */
}

.EcobearLogo img {
  width: 30%; /* Ensure images don't exceed their container's width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 0; /* Remove border radius if not needed */
}

/* BUTTON SCROLL-TOP */

.button_area {
  display: flex;
  justify-content: center;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  background-color:rgba(135, 152, 168, 0.5);  /* Blue-ish background color */
  padding: 10px 20px;
  border: none;
  border-radius: 44px;
  cursor: pointer;
  margin-top: 60px;
  z-index: 9999;
}

.scroll-top-btn:hover {
   transform: translateY(-10px);
   background-color: rgba(135, 152, 168);
   transition: transform 0.5s ease

}

.scroll-top-btn img {
  width: 30px;
  height: 30px;
}

/* BOTTOM PAGE */

.LetsChat {
  flex-wrap: wrap;
  margin-top: 30;
}

.LetsExplore {
  flex-wrap: wrap;
  margin-top: 30;
  
}

.LetsChatTitle, .ExploreTitle {
  font-size: 30;
  font-weight: 500;
}

.BottomOfPage  a {
 text-decoration: underline;
 color: inherit;
}

.BottomOfPage {
  font-family: "Work Sans";
  display: flex;
  justify-content: column;
  justify-content: row;
  justify-content: space-evenly;
  
}

.SmilingPic img {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20px;
    right: 0;
    top: 20;
    border: 1px solid white;
}


/*Animations*/

.hidden {
  opacity:  0;
  transform: translateY(30px);
  transition: all 1.3s;
}

.show {
  transform: translateY(0px);
  opacity: 1;
}

.s {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}


.Walkthrough1 video {
  width: 50%;
}


@media screen and (max-width: 1200px) and (max-height: 11096.2px) {
  

  .ProjectDetails {
      display: flex;
      flex-direction: column;
      flex-direction: row;
      flex-wrap: wrap;
      width: 50%;
      margin-left: 0;
  }
}



@media screen and (min-width: 770px) and (max-width: 1024px) {

  .MinSittLogo img {
    width: 100;
    height: auto;
    margin-top: 10;
    margin-left: 60;
    position: absolute;
  }

  .Ecobear_Title {
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    margin-right: 0 !important;
    justify-content: center;
    margin-top: 0;
  }

  .Snackpass_one-liner {
    font-size: 15px;
    width: 85%;
    margin-right: 0 !important;
    justify-content: center;
    margin-left: 0 !important;
  }

  #Prototypes img{
    width: 100%;
    margin-left: 0 !important;
    padding: 0 !important;
    justify-content: center;
  }

  .ProjectDetails {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    padding: 10;
    justify-content: center;
  }

  .ContextTitle, .KeyFunctionalityTitle, .PreliminaryResearch_Conceptualization_Title {
    font-size: 30px;
    width: 70%;
    justify-content: center;
    padding: 30;
  }

  
  .Context, .PreliminaryResearch_Conceptualization {
    margin-top: 100;
  }

  .ContextSummary, .SustainableLivingText, .EmergingTechnologyText, .MissionStatementText, .KeyFunctionalityText,
   .MissionStatementFull {
    font-size: 16px;
    width: 70%;
    justify-content: center;
    padding: 5;
  }

  .DesignathonPrompt  {
    font-size: 20px;
    width: 70%;
    justify-content: center;
    padding: 5;
  }

   .SustainableLivingTitle, .EmergingTechnologyTitle, .MissionStatementTitle {
    font-size: 18px;
    width: 70%;
    padding: 5;
  }

  .UserFlowTitle {
    padding: 10;
  }

  .SustainableLivingTitle, .EmergingTechnologyTitle, .MissionStatementTitle, .ContextTitle, .KeyFunctionalityTitle, .ContextSummary, .DesignathonPrompt, .PreliminaryResearch_Conceptualization_Title, 
  .PsychologyResearch, .FunctionalityList, .SustainableLivingText, .EmergingTechnologyText, 
  .MissionStatementText, .KeyFunctionalityText, .MissionStatementFull {
    margin: 0 auto;
  }

  .Snackpass-Pictures-1 {
    width: 70%;
    height: auto;
    margin-left: 100;
    justify-content: center;
  }
 
  .Quote {
    font-size: 22px;
    padding: 5;
  }

  .Reflection {
    margin-bottom: 30;
    margin-top: 20;
  }

  
  .Favorite-Store-Wireframes, .Leaderboard-Wireframes, .Chickencoop-Wireframes {
    margin: 0;
  }



  .navdiv {
    margin: 0;
  }
  }


@media screen and (min-width: 500px) and (max-width: 770px) {
    
  .MinSittLogo img {
    width: 100;
    height: auto;
    margin-top: 10;
    margin-left: 60;
    position: absolute;
  }

  .Ecobear_Title {
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    margin-right: 0 !important;
    justify-content: center;
  }

  .Snackpass_one-liner {
    font-size: 15px;
    width: 85%;
    margin-right: 0 !important;
    justify-content: center;
    margin-left: 0 !important;
  }

  #Prototypes img{
    width: 100%;
    margin-left: 0 !important;
    padding: 0 !important;
    justify-content: center;
  }

  .ProjectDetails {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    padding: 10;
    justify-content: center;
  }

  .Time {
    margin-left: 0;
  }

  .ContextTitle,  .KeyFunctionalityTitle, .PreliminaryResearch_Conceptualization_Title, .ValidationTitle, .SolutionsProcessTitle,
  .FavoriteStoreFeatureTitle, .LeaderboardTitle, .ReflectionTitle, .ChickencoopTitle, .FinalResultsTitle {
    font-size: 30px;
    width: 70%;
    justify-content: center;
    padding: 20;
  }

  .ReflectionTextLast {
    font-size: 15px;
    width: 70%;
    justify-content: center;
    padding: 5;
  }
  
  .Context, .PreliminaryResearch_Conceptualization, .Validation, .SolutionsProcess, .FinalResults {
    margin-top: 100;
  }

  .ContextSummary, .SustainableLivingText, .EmergingTechnologyText, .MissionStatementText, 
  .MissionStatementFull, .KeyFunctionalityText,
   .ValidationSummary, .StatisticsLine, .PsychologyResearch, .FunctionalityList, .Takeaways, 
  .SolutionsTextIntro, .FavStoreText, .LeaderboardText, .ChickencoopText, 
  .ReasoningForChickencoop, .ReflectionText, .FinalResultsText, .DesignathonPrompt {
    font-size: 15px;
    width: 70%;
    justify-content: center;
    padding: 5;
  }

  .SustainableLivingTitle, .EmergingTechnologyTitle, .MissionStatementTitle   {
    font-size: 17px;
    width: 70%;
    justify-content: center;
    padding: 5;
  }

  .UserFlowTitle {
    padding: 10;
  }

  .ContextTitle, .KeyFunctionalityTitle, .ContextSummary, .Quote, .PreliminaryResearch_Conceptualization_Title, .SustainableLivingText, 
  .EmergingTechnologyText, .MissionStatementText, .MissionStatementFull, .DesignathonPrompt, .KeyFunctionalityText,
   .StatisticsLine, .PsychologyResearch, .FunctionalityList, .Takeaways, .SolutionsTextIntro, .SolutionsProcessTitle, 
  .FavoriteStoreFeatureTitle, .SustainableLivingTitle, .EmergingTechnologyTitle, .MissionStatementTitle, .FavStoreText, .DesginJustification, .UserFlowTitle,
  .LeaderboardTitle, .LeaderboardText, .ChickencoopText, .ReasoningForChickencoop, .ReflectionTitle, 
  .ReflectionText, .ChickencoopTitle, .FinalResultsTitle, .FinalResultsText, .ReflectionTextLast {
    margin: 0 auto;
  }

  .Snackpass-Pictures-1 {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
  }

  .Snackpass-Pictures-1 img {
    width: 200px;
    display: flex;
  }

  .Quote {
    font-size: 20px;
    padding: 5;
  }

  .Favorite-Store-Wireframes, .Leaderboard-Wireframes, .Chickencoop-Wireframes {
    margin: 0;
  }

  .FavStoreWireframes1 img, .LeaderboardWireframes1 img, .ChickencoopWireframes1 img{
    max-width: 80%;
    height: auto;
    margin-left: 35;
  }

  .FavStoreWireframes2 img, .LeaderboardWireframes2 img {
    max-width: 70%;
    height: auto;
    margin-left: 55;
  }

  .High-Fi-Prototype-Fav-Store img, .High-Fi-Prototype-Leaderboards img {
    max-width: 95%;
    height: auto;
    margin-left: 0;
    padding: 10
  }

  .High-Fi-Prototype-Chickencoop img {
    width: 80%;
    height: auto;
    margin-left: 50;
    padding: 10
  }

  .Walkthroughs video {
    width: 60%;
    height: auto;
    justify-content: center;
    margin-left: 150 !important;
  }
  

  .Relfection {
    margin-top: 20;
    margin-bottom: 60;
  }

  .SmilingPic img {
    width: 150px;
    height: 150px;
    padding: 2cqmin;
    left: 10;
    border: 1px solid white;
  }

  .LetsChat, .LetsExplore {
    font-size: 13;
    padding: 13;
  }

  .LetsChatTitle, .ExploreTitle {
    font-size: 15;
  }

  .BottomOfPage {
    height: 250;
  }

}

@media screen and (min-width: 320px) and (max-width: 500px) {
  
  .MinSittLogo img {
    width: 100;
    height: auto;
    margin-top: 10;
    margin-left: 60;
    position: absolute;
  }

  .Ecobear_Title {
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    margin-right: 0 !important;
    justify-content: center;
  }

  .Snackpass_one-liner {
    font-size: 15px;
    width: 85%;
    margin-right: 0 !important;
    justify-content: center;
    margin-left: 0 !important;
  }

  #Prototypes img{
    width: 100%;
    margin-left: 0 !important;
    padding: 0 !important;
    justify-content: center;
  }

  .ProjectDetails {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    padding: 10;
    justify-content: center;
  }

  .Time {
    margin-left: 0;
  }

  .ContextTitle, .KeyFunctionalityTitle, .PreliminaryResearch_Conceptualization_Title, .ValidationTitle, .SolutionsProcessTitle,
  .FavoriteStoreFeatureTitle, .LeaderboardTitle, .ReflectionTitle, .ChickencoopTitle, .FinalResultsTitle {
    font-size: 30px;
    width: 70%;
    justify-content: center;
    padding: 20;
  }

  .ReflectionTextLast {
    font-size: 15px;
    width: 70%;
    justify-content: center;
    padding: 5;
  }
  
  .Context, .PreliminaryResearch_Conceptualization, .Validation, .SolutionsProcess, .FinalResults {
    margin-top: 100;
  }

  .ContextSummary, .SustainableLivingText, .EmergingTechnologyText, .MissionStatementText, .KeyFunctionalityText, .MissionStatementFull,
  .ValidationSummary, .StatisticsLine, .Takeaways, .PsychologyResearch, .FunctionalityList,
  .SolutionsTextIntro, .FavStoreText, .LeaderboardText, .ChickencoopText, 
  .ReasoningForChickencoop, .ReflectionText, .FinalResultsText {
    font-size: 15px;
    width: 70%;
    justify-content: center;
    padding: 5;
  }

  .SustainableLivingTitle, .DesginJustification, .UserFlowTitle, .EmergingTechnologyTitle, .MissionStatementTitle  {
    font-size: 17px;
    width: 70%;
    justify-content: center;
    padding: 5;
  }

  .UserFlowTitle {
    padding: 10;
  }

  .ContextTitle, .KeyFunctionalityTitle, .ContextSummary, .Quote, .PreliminaryResearch_Conceptualization_Title, .SustainableLivingText,
   .ValidationSummary, .EmergingTechnologyText, .MissionStatementText, .KeyFunctionalityText, .MissionStatementFull,
  .ValidationTitle, .StatisticsLine, .PsychologyResearch, .FunctionalityList, .Takeaways, .SolutionsTextIntro, .SolutionsProcessTitle, 
  .FavoriteStoreFeatureTitle, .SustainableLivingTitle, .EmergingTechnologyTitle, .MissionStatementTitle, .FavStoreText, .DesginJustification, .UserFlowTitle,
  .LeaderboardTitle, .LeaderboardText, .ChickencoopText, .ReasoningForChickencoop, .ReflectionTitle, 
  .ReflectionText, .ChickencoopTitle, .FinalResultsTitle, .FinalResultsText, .ReflectionTextLast, .DesignathonPrompt {
    margin: 0 auto;
  }

  .Snackpass-Pictures-1 {
    margin: 0 auto;
    width: 50%;
    justify-content: center;
  }

  .Snackpass-Pictures-1 img {
    width: 150px;
    display: flex;
  }

  .Quote {
    font-size: 20px;
    padding: 5;
  }

  .Favorite-Store-Wireframes, .Leaderboard-Wireframes, .Chickencoop-Wireframes {
    margin: 0;
  }

  .FavStoreWireframes1 img, .LeaderboardWireframes1 img, .ChickencoopWireframes1 img{
    max-width: 80%;
    height: auto;
    margin-left: 35;
  }

  .FavStoreWireframes2 img, .LeaderboardWireframes2 img {
    max-width: 70%;
    height: auto;
    margin-left: 55;
  }

  .High-Fi-Prototype-Fav-Store img, .High-Fi-Prototype-Leaderboards img {
    max-width: 95%;
    height: auto;
    margin-left: 0;
    padding: 10
  }

  .High-Fi-Prototype-Chickencoop img {
    width: 330px;
    height: auto;
    margin-left: 5;
    padding: 10
  }

  .Walkthrough1, .Walkthroguh2 {
    width: 400;
    height: auto;
    justify-content: center;
  }

  

  .Relfection {
    margin-top: 20;
    margin-bottom: 60 !important;
  }

  .SmilingPic img {
    width: 150px;
    height: 150px;
    padding: 2cqmin;
    left: 10;
    border: 1px solid white;
  }

  .LetsChat, .LetsExplore {
    font-size: 13;
    padding: 13;
  }

  .LetsChatTitle, .ExploreTitle {
    font-size: 15;
  }

  .BottomOfPage {
    height: 250;
  }
}