
/*BACKGROUND COLOR */

body {
    margin: 0;
    background: linear-gradient(to bottom, rgba(222, 200, 183, 0.8), rgba(222, 218, 219, 1.0), rgba(245, 245, 245, 1.0), rgba(222, 200, 183, 0.8));
}

.navigation_bar {
    margin: 0;
    height: 20%;
    
}

.BottomOfPage {
  background: linear-gradient(to bottom, rgba(222, 200, 183, 0.8), rgba(222, 218, 219, 1.0));
  height: 300px;
  margin: 0;
}

.Content-Section {
  margin: 0;
  background: #F5F5F5;
}

/*NAV BAR */
/* LANDING PAGE */

.MinSittLogo img {
  width: 120px; /* Add 'px' for proper CSS syntax */
  height: auto; /* Add 'px' for proper CSS syntax */
  margin-left: 30px; /* Add 'px' for proper CSS syntax */
}

.MinSittLogo img {
  transition: opacity 0.3s ease; /* Add transition effect */
}

.MinSittLogo:hover img {
  opacity: 0.7; /* Reduce opacity on hover */
  cursor: pointer;
}

.Home a, .Projects a, .About a {
  color: black;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  font-family: "Work Sans";
}

.navigation_bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 10px;
  height: 50;
}

.top_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 10px;
  padding: 4px 30px;
  position: relative;
  border-right: 1px solid black;
}

.navbar a:hover {
  color: #8E7f76;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a {
  text-decoration: none;
  color: black;
}



/* Hamburger menu styles */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 40px;
  margin-top: 0px;
}

.menu-icon-line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

/* Media query for small screens */
@media (max-width: 800px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background: rgba(255, 255, 255, 1.0);
    position: absolute;
    top: 60px; /* Adjust according to your layout */
    right: 0;
    margin-left: 1000px;
    border-top: 1px solid black;
       
  }

  .navbar ul.show {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }
}

/* Product and Design Project Section Title */

.ProductDesignProjects, .BusinessProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 20px;
}


.SectionTitle {
  font-size: 35px;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Work Sans";
  font-weight: 200;
  padding: 10
}

.SectionSubtitle {
  font-size: 17px;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-family: "Work Sans";
  font-weight: 300;
  padding: 10;
  line-height: 2.0;
  
}

.DesignProject1, .DesignProject2, .DesignProject3, .DesignProject4, .BusProject1, .BusProject2,
.BusProject3, .BusProject4 {
  display: flex;
  align-items: center;
  gap: 30px; /* Adjust the gap value as needed for spacing */
  position: relative;
  top: 50%;
  left: 40%;
  padding: 20;
}


#DesignProjectPicture img, #BusProjectPicture img {
  max-width: 150px; /* Adjust the max-width as needed */
  height: auto;
  border-radius: 50%;
}

#DesignProjectPictureEcobear img {
  max-width: 150px; /* Adjust the max-width as needed */
  height: auto;
}

.BusProjectPictureCalRecycle img {
  max-width: 150px; /* Adjust the max-width as needed */
  height: auto;
  border-radius: 50%;
}

.BusProjectPictureVuori img {
  max-width: 150px; /* Adjust the max-width as needed */
  height: auto;
  border-radius: 50%;
}

#ProjectDescription {
  max-width: 500px; /* Adjust the max-width as needed */
  justify-content: center;
  
}

.ProjectTitle {
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 10px 0;
  font-family: "Roboto Serif";
  width: 70%;
}

.Description{
  font-size: 16px;
  width: 70%;
  line-height: 1.5;
  font-family: "Work Sans";
  font-weight: 270;
}

.Deliverables {
  font-size: 14px;
  width: 80%;
  line-height: 1.5;
  margin-top: 10;
  font-family: "Work Sans";
  font-weight: 270;
}

.DeliverablesTitle {
  font-size: 14px;
  width: 70%;
  line-height: 1.5;
  margin-top: 10;
  font-family: "Work Sans";
  font-weight: 600;
}

.Skills {
  font-size: 14px;
  width: 70%;
  line-height: 1.5;
  margin: 0;
  font-family: "Work Sans";
  font-weight: 250;
  margin-bottom: 10;
}

.DateOfProject  {
  font-size: 16px;
  width: 70%;
  line-height: 1.5;
  margin: 0;
  font-family: "Work Sans";
  font-weight: 400;
  margin-top: 10;
  margin-bottom: 10;
}


/*BOTTOM PAGE*/

.LetsChat {
  flex-wrap: wrap;
  margin-top: 30;
}

.HomeBottom a:hover, .AboutBottom a:hover, .ProjectsBottom a:hover, .Linkedin a:hover, .Email a:hover {
  color: #8E7f76;
}

.LetsExplore {
  flex-wrap: wrap;
  margin-top: 30;
}

.LetsChatTitle, .ExploreTitle {
  font-size: 30;
  font-weight: 500;
  font-family: "Roboto Serif";
}

.BottomOfPage  a {
 text-decoration: underline;
 color: inherit;
}

.BottomOfPage {
  font-family: "Work Sans";
  display: flex;
  justify-content: column;
  justify-content: row;
  justify-content: space-evenly;
  
}

.SmilingPic img {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20px;
    right: 0;
    top: 20;
    border: 1px solid white;
}

/* ANIMAIONS */


@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.hidden {
  opacity:  0;
  transform: translateY(30px);
  transition: all 1.3s;
}

.show {
  transform: translateY(0px);
  opacity: 1;
}

#DesignProjectPicture img:hover, .BusProjectPictureVuori img:hover, .BusProjectPictureCalRecycle img:hover, 
#BusProjectPicture img:hover, .BusProjectPictureASRB img:hover {
  transition: transform 0.3s ease;
  transform: translateY(-10px);
}

/* BUTTON SCROLL-TOP */

.button_area {
  display: flex;
  justify-content: center;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  background-color:rgba(135, 152, 168, 0.5);  /* Blue-ish background color */
  padding: 10px 20px;
  border: none;
  border-radius: 44px;
  cursor: pointer;
  margin-top: 60px;
  z-index: 9999;
}

.scroll-top-btn:hover {
   transform: translateY(-10px);
   background-color: rgba(135, 152, 168);
   transition: transform 0.5s ease

}

.scroll-top-btn img {
  width: 30px;
  height: 30px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 750px) and (max-width: 889px) {

  .nav-menu {
    position: fixed;
  }

  .ProjectTitle, .Date, .Skills, .Description {
    width: 420px;
  }

  .DesignProject1, .DesignProject2, .DesignProject3, .DesignProject4 {
    left: 35%;
  }

  .SectionSubtitle {
    font-size: 15;
    margin: 0 auto;
    width: 52%;
  }

}

@media screen and (min-width: 630px) and (max-width: 750px) {

  .ProjectTitle, .Date, .Skills, .Description {
    width: 300px;
  }

  #DesignProjectPicture img, .BusProjectPictureVuori img, .BusProjectPictureCalRecycle img, 
  #BusProjectPicture img {
    width: 200px;
  }

  .BusProjectPictureASRB img {
    width: 175px;
    height: 175px;
  }


  .DesignProject1, .DesignProject2, .DesignProject3, .DesignProject4, .BusProject1, .BusProject2,
  .BusProject3, .BusProject4  {
    left: 30%;
  }

  .ProjectTitle {
    font-size: 20;
  }
  
  .DateOfProject {
    font-size: 14 ;
  }

  .Skills {
    font-size: 13;
  }

  .Description {
    font-size: 14;
  }

  .SmilingPic img {
    width: 150px;
    height: 150px;
    padding: 2cqmin;
    left: 10;
    border: 1px solid white;
  }

  .LetsChat, .LetsExplore {
    font-size: 13;
    padding: 13;
  }

  .LetsChatTitle, .ExploreTitle {
    font-size: 30;
  }

  .BottomOfPage {
    height: 250;
  }

  .SectionSubtitle {
    font-size: 15;
    margin: 0 auto;
    width: 52%;
  }

}

@media screen and (min-width: 450px) and (max-width: 629px) {

  .ProjectTitle, .Date, .Skills, .Description {
    width: 300px;
  }

  #DesignProjectPicture img, .BusProjectPictureVuori img, .BusProjectPictureCalRecycle img, 
 #BusProjectPicture img {
    width: 100px;
  }

  .BusProjectPictureASRB img {
    width: 100px;
    height: 100px;
  }


  .DesignProject1, .DesignProject2, .DesignProject3, .DesignProject4, .BusProject1, .BusProject2,
  .BusProject3, .BusProject4 {
    left: 25%;
  }
  
  .ProjectTitle {
    font-size: 20;
  }
  
  .DateOfProject {
    font-size: 13 ;
  }

  .Skills {
    font-size: 12;
  }

  .Description {
    font-size: 13;
  }

  .SmilingPic img {
    width: 150px;
    height: 150px;
    padding: 2cqmin;
    left: 10;
    border: 1px solid white;
  }

  .LetsChat, .LetsExplore {
    font-size: 13;
    padding: 13;
  }

  .LetsChatTitle, .ExploreTitle {
    font-size: 15;
  }

  .BottomOfPage {
    height: 250;
  }

  .SectionSubtitle {
    font-size: 15;
    margin: 0 auto !important;
  }

}

@media screen and (min-width: 300px) and (max-width: 450px) {

  .ProjectTitle, .Date, .Skills, .Description {
    width: 200px;
  }

  #DesignProjectPicture img, .BusProjectPictureVuori img, .BusProjectPictureCalRecycle img, 
   #BusProjectPicture img {
    width: 75px;
  }

  .BusProjectPictureASRB img {
    width: 75px;
    height: 75px;
  }

  .DesignProject1, .DesignProject2, .DesignProject3, .DesignProject4, .BusProject1, .BusProject2,
  .BusProject3, .BusProject4 {
    left: 25%;
  }
  
  .ProjectTitle {
    font-size: 20;
  }
  
  .DateOfProject {
    font-size: 13 ;
  }

  .Skills {
    font-size: 12;
  }

  .Description {
    font-size: 13;
  }

  .SectionSubtitle {
    font-size: 15;
    margin: 0 auto !important;
  }

  .SmilingPic img {
    width: 90px;
    height: 90px;
    padding: 2cqmin;
    left: 10;
    border: 1px solid white;
    margin-top: 20px;
  }

  .LetsChat, .LetsExplore {
    font-size: 13;
    padding: 13;
  }

  .LetsChatTitle, .ExploreTitle {
    font-size: 15;
  }

  .BottomOfPage {
    height: 200;
  }

  .EcobearLogo img {
    width: 300px; /* Ensure images don't exceed their container's width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 0; /* Remove border radius if not needed */
  }

}