body {
  background: linear-gradient(to bottom, rgba(222, 200, 183, 0.8), rgba(222, 218, 219, 1.0), rgba(245, 245, 245, 1.0));
  margin: 0;
}

.content_section {
  background: #F5F5F5;
  margin-top: 220px;
}

.BottomOfPage {
  background: linear-gradient(to bottom, rgba(222, 200, 183, 0.8), rgba(222, 218, 219, 1.0));
  height: 300px;
  margin: 0;
}

.Landing_Page {
  height: 500;
}

/*TOP NAV BAR CODE */

.MinSittLogo img {
  width: 120px; /* Add 'px' for proper CSS syntax */
  height: auto; /* Add 'px' for proper CSS syntax */
  margin-left: 60px; /* Add 'px' for proper CSS syntax */
  position: fixed;
  z-index: 2000;
}

.Home a, .Projects a, .Resume a {
  color: black;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  font-family: "Work Sans";
}

.navbar {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  position: fixed; /* Fixed positioning */
  top: 0; /* Position it at the top */
  right: 0; /* Position it at the right */
  width: 100%; /* Full width */ /* Set a background color to avoid transparency issues */
  z-index: 1000; /* Ensure the navbar stays on top of other elements */
  padding: 10px; /* Add some padding */
  background: rgba(255, 255, 255, 0.6);
}

.navbar ul {
  display: flex; /* Make the <ul> a flex container */
  list-style-type: none; /* Remove default list style */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.navbar li {
  margin: 10px;
  padding: 4px 30px;
  position: relative;
  border-right: 1px solid black;
}

.navbar li:last-child {
  border-right: none;
}
 
  
/*PROFILE PICTURE & INTRO CODE */

#profile-pic img{
  position: relative;
  border-radius: 50%;
  overflow: auto;
  background-position: center;
  width: 250px; /* Adjust the width and height to your desired size */
  height: 250px;
  border: 1px solid white;
  padding: 20px;
  margin-top: 150px;
  animation: fade-down 0.5s;
}


.middle_section {
  display: flex;
  justify-content: center;
  padding: 60px;
  gap: 20px;
  font-family: "Work Sans";
  max-height: 300px;
  margin-left: 20px;
  
}

#background_text {
  max-width: 800px;
}

.MyName {
  font-family: "Roboto Serif";
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-top: 70;
  animation: fade-up 0.5s;
  color: #5A6A79
}

.Major {
  font-size: 18px;
  font-weight: 200;
  margin-left: 20px;
  animation: fade-up 2s;
}

.Intro {
  font-size: 20px;
  font-weight: 300;
  width: 600px;
  line-height: 1.5;
  margin-left: 20px;
  animation: fade-up 1s;
}

/*CIRCLE DESIGNS */

.circle_group_1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  margin-bottom: 150px;
  padding: 10px;
  flex: 1;
  animation: fade-up 0.5s;
}

.circle_group_2 {
  position: absolute; /* by doing absolute we remove it from the normal flow and can place it anywhere */
  top: 0;
  right: 0;
  animation: fade-up 0.5s;
}

.circle_group_2 {
  top: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 20px;
  flex: 1;
}

.column1, .column2, .column3, .column4, .column5, .column6{
  padding: 5px;
}

.circle {
  width: 20px; /* Adjust the width and height to change the size of the circles */
  height: 20px;
  background-color: rgba(142, 127, 118, 0.5); /* Change the color of the circles */
  border-radius: 50%; /* Makes the divs circular */
  margin-bottom: 7px; /* Adjust the margin bottom to add spacing between circles */
}

/* Scroll-to-top-button */

.button_area {
  display: flex;
  justify-content: center;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  background-color:rgba(135, 152, 168, 0.5);  /* Blue-ish background color */
  padding: 10px 20px;
  border: none;
  border-radius: 44px;
  cursor: pointer;
  margin-top: 60px;
  z-index: 9999;
}

.scroll-top-btn:hover {
   transform: translateY(-10px);
   background-color: rgba(135, 152, 168);
   transition: transform 0.5s ease

}

.scroll-top-btn img {
  width: 30px;
  height: 30px;
}

/*Project Overveview Title */

.content_section {
  display: flex;
  flex-direction: row;
  flex-direction: column;
}

.Project_Overview {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.ProjectOverview {
  font-family: "Roboto Serif";
  font-size: 40px;
  font-weight: 400;
  border: 0.5px solid black; /* Sets a black border with 2px width around the <ul> element */
  padding: 10px;
  line-height: 10px;
  display: flex;
  justify-content: center;
  width: 500px;
}

/* Snackpass Project Section */

.Snackpass {
  width: 100%;
  display: flex;
  /* flex-direction: row-reverse; if I want to inverse the picture and text */
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
}

.SnackpassTitle {
  font-family: "Roboto Serif";
}

#Snackpass_project_text {
  width: 600px; 
}


#Snackpass_showcase_picture img {
  width: 350px; 
  height: 350px; 
  padding: 40px;
  border-radius: 20%;
}

/*Botanical Garden Section*/

.BotanicalGardens {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  font-family: "Work Sans";
}

.BotanicalGardensTitle {
  font-family: "Roboto Serif";
}

#Botanical_showcase_picture img{
  width: 350; 
  height: auto; 
  padding: 40px;
  border-radius: 20%;
}

#Botanical_garden_project_text {
  width: 600px; 
}


/*General Animations*/

#Snackpass_showcase_picture img:hover,  #Botanical_showcase_picture img:hover {
  transition: transform 0.3s ease;
  transform: translateY(-10px);
}

/*General Content Fonts */

.BotanicalGardensTitle {
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
  color: #777937
}

.SnackpassTitle {
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
  color: #04BCFC
}


.Summary {
  font-size: 20px;
  font-weight: 300px;
}

/* KEY FRAMES & ANIMATIONS */

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.hidden {
  opacity:  0;
  transform: translateY(30px);
  transition: all 1.3s;
}

.show {
  transform: translateY(0px);
  opacity: 1;
}



/*BOTTOM PAGE SPACING  */

.Description {
  margin-bottom: 90px;
}

/*BOTTOM PAGE*/

.LetsChat {
  flex-wrap: wrap;
  margin-top: 30;
}

.LetsExplore {
  flex-wrap: wrap;
  margin-top: 30;
  
}

.LetsChatTitle, .ExploreTitle {
  font-size: 30;
  font-weight: 500;
  font-family: "Roboto Serif";
}

.BottomOfPage  a {
 text-decoration: underline;
 color: inherit;
}

.BottomOfPage {
  font-family: "Work Sans";
  display: flex;
  justify-content: column;
  justify-content: row;
  justify-content: space-evenly;
  
}

.SmilingPic img {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20px;
    right: 0;
    top: 20;
    border: 1px solid white;
}

@media screen and (min-width: 896px) and (max-width: 1030px) {

  .Intro {
    width: 500px;
  }


  #Botanical_garden_project_text, #Snackpass_project_text {
  width: 400;
}
   

}

@media screen and (min-width: 700px) and (max-width: 896px) {

  .Intro {
    width: 400px;
    font-size: 18px;
  }

  .MyName {
    font-size: 65px;
  }
  
  .Major {
    font-size: 16px;
    font-weight: 300;
  }
  

  #Botanical_garden_project_text, #Snackpass_project_text {
  width: 350;
}
}
   
@media screen and (min-width: 700px) and (max-width: 800px) {

  .Intro {
    width: 400px;
    font-size: 18px;
  }

  .MyName {
    font-size: 50px;
    width: 550px;
    margin-top: 0;
  }
  
  .Major {
    font-size: 20px;
    font-weight: 300;
  }


  #profile-pic img {
    width: 200px;
    height: 200px;
    margin-top: 500px;
  }


  .Landing_Page {
    height: 800;
  }
  

  #Botanical_garden_project_text, #Snackpass_project_text {
  width: 300;
}

.SnackpassTitle, .BotanicalGardensTitle {
  font-size: 23px;
}

.Summary {
  font-size: 15px;
}

.Role, .Description , .Time {
  font-size: 13px;

}

.Major {
  width: 500px;
  font-size: 13px;
  font-weight: 300;
}

.middle_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Snackpass_showcase_picture img {
  width: 300px; 
  height: 300px; 
  padding: 40px;
  border-radius: 20%;
}

#Botanical_showcase_picture img{
  width: 300px; 
  height: auto; 
  padding: 40px;
  border-radius: 20%;
}

}

@media screen and (min-width: 550px) and (max-width: 700px) {


  .MyName {
    width: 350px;
    font-size: 35px;
    margin-top: 0;
  }
  
  .Major {
    width: 250px;
    font-size: 13px;
    font-weight: 300;
  }

  .Intro {
    width: 250px;
    font-size: 15px;
  }

  #profile-pic {
    margin-top: 250;
  }

  #profile-pic img {
    width: 130px;
    height: 130px;
  }

  .Landing_Page {
    height: 600;
  }

  .middle_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Snackpass, .BotanicalGardens {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  #Snackpass_project_text, #Botanical_garden_project_text  {
    width: 300px;
  }

  
.SnackpassTitle, .BotanicalGardensTitle {
  font-size: 25px;
}

.Summary {
  font-size: 15px;
}

.Role, .Description , .Time {
  font-size: 13px;

}

  .ProjectOverview {
    font-size: 25px;
    width: 300px;
  }

  #Snackpass_showcase_picture img {
    width: 250px; 
    height: 250px; 
    padding: 40px;
    border-radius: 20%;
  }
  
  #Botanical_showcase_picture img{
    width: 250px; 
    height: auto; 
    padding: 40px;
    border-radius: 20%;
  }
  

}


@media screen and (min-width: 320px) and (max-width: 550px) {


  .MyName {
    width: 320px;
    font-size: 30px;
    margin-top: 0;
  }
  
  .Major {
    width: 250px;
    font-size: 10px;
    font-weight: 300;
  }

  .Intro {
    width: 250px;
    font-size: 13px;
  }

  #profile-pic {
    margin-top: 200;
  }

  #profile-pic img {
    width: 130px;
    height: 130px;
  }

  .middle_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Snackpass, .BotanicalGardens {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  #Snackpass_project_text, #Botanical_garden_project_text  {
    width: 300px;
  }

  
.SnackpassTitle, .BotanicalGardensTitle {
  font-size: 20px;
}

.Summary {
  font-size: 13px;
}

.Role, .Description , .Time {
  font-size: 12px;

}

  .ProjectOverview {
    font-size: 20px;
    width: 300px;
  }

  #Snackpass_showcase_picture img {
    width: 250px; 
    height: 250px; 
    padding: 40px;
    border-radius: 20%;
  }
  
  #Botanical_showcase_picture img{
    width: 250px; 
    height: auto; 
    padding: 40px;
    border-radius: 20%;
  }
  

}