body {
  background: linear-gradient(to bottom, rgba(222, 200, 183, 0.8), rgba(222, 218, 219, 1.0), rgba(245, 245, 245, 1.0));
  margin: 0;
}

.content_section {
  background: #F5F5F5;
  margin-top: 220px;
}

.BottomOfPage {
  background: linear-gradient(to bottom, rgba(222, 200, 183, 0.8), rgba(222, 218, 219, 1.0));
  height: 300px;
  margin: 0;
}

/*TOP NAV BAR CODE */

.MinSittLogo img {
  width: 120;
  height: auto;
  margin-top: 10;
  margin-left: 60;
  position: absolute;
}

.Home, .Projects, .Resume {
    list-style: none;
    display: inline-block;
}

.Home a, .Projects a, .Resume a {
    color: black; 
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    font-family: "Work Sans"
}

.navbar {
    display: flex;
    margin-left: 880px;
  }

  
.navbar li {
    margin: 10px;
}

.navbar ul li {
    border-right: 0.5px solid black;
    display: inline-block;
    border-right: 1px solid black;
    padding: 4px 30px;
    position: relative;
  }

  .navbar ul li:last-child {
    border-right: none;
  }

 
  
/*PROFILE PICTURE & INTRO CODE */

#profile-pic img{
  position: relative;
  border-radius: 50%;
  overflow: auto;
  background-position: center;
  width: 250px; /* Adjust the width and height to your desired size */
  height: 250px;
  border: 1px solid white;
  padding: 20px;
  margin-top: 60px;
  animation: fade-down 0.5s;
}

.middle_section {
  display: flex;
  justify-content: center;
  padding: 60px;
  gap: 20px;
  font-family: "Work Sans";
  max-height: 300px;
  margin-left: 20px;
}

#background_text {
  max-width: 800px;
}

.MyName {
  font-family: "Roboto Serif";
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-top: 10;
  animation: fade-up 0.5s;
  color: #5A6A79
}

.Major {
  font-size: 18px;
  font-weight: 200;
  margin-left: 20px;
  animation: fade-up 2s;
}

.Intro {
  font-size: 20px;
  font-weight: 300;
  width: 600px;
  line-height: 1.5;
  margin-left: 20px;
  animation: fade-up 1s;
}

/*CIRCLE DESIGNS */

.circle_group_1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  margin-bottom: 150px;
  padding: 10px;
  flex: 1;
  animation: fade-up 0.5s;
}

.circle_group_2 {
  position: absolute; /* by doing absolute we remove it from the normal flow and can place it anywhere */
  top: 0;
  right: 0;
  animation: fade-up 0.5s;
}

.circle_group_2 {
  top: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 20px;
  flex: 1;
}

.column1, .column2, .column3, .column4, .column5, .column6{
  padding: 5px;
}

.circle {
  width: 20px; /* Adjust the width and height to change the size of the circles */
  height: 20px;
  background-color: rgba(142, 127, 118, 0.5); /* Change the color of the circles */
  border-radius: 50%; /* Makes the divs circular */
  margin-bottom: 7px; /* Adjust the margin bottom to add spacing between circles */
}

/* Scroll-to-top-button */

.button_area {
  display: flex;
  justify-content: center;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  background-color:rgba(135, 152, 168, 0.5);  /* Blue-ish background color */
  padding: 10px 20px;
  border: none;
  border-radius: 44px;
  cursor: pointer;
  margin-top: 60px;
  z-index: 9999;
}

.scroll-top-btn:hover {
   transform: translateY(-10px);
   background-color: rgba(135, 152, 168);
   transition: transform 0.5s ease

}

.scroll-top-btn img {
  width: 30px;
  height: 30px;
}

/*Project Overveview Title */

.content_section {
  display: flex;
  flex-direction: row;
  flex-direction: column;
}

.Project_Overview {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.ProjectOverview {
  font-family: "Work Sans";
  font-size: 40px;
  font-weight: 400;
  border: 0.5px solid black; /* Sets a black border with 2px width around the <ul> element */
  padding: 10px;
  line-height: 10px;
  display: flex;
  justify-content: center;
  width: 500px;
}

/* Snackpass Project Section */

.Snackpass {
  width: 100%;
  display: flex;
  /* flex-direction: row-reverse; if I want to inverse the picture and text */
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
}

#Snackpass_project_text {
  width: 600px; 
}


#Snackpass_showcase_picture img {
  width: 350px; 
  height: 350px; 
  padding: 40px;
  border-radius: 20%;
}

/*Botanical Garden Section*/

.BotanicalGardens {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  font-family: "Work Sans";
}

#Botanical_showcase_picture img{
  width: 400; 
  height: auto; 
  padding: 40px;
  border-radius: 20%;
}

#Botanical_garden_project_text {
  width: 500px; 
}


/*General Animations*/

#Snackpass_showcase_picture img:hover,  #Botanical_showcase_picture img:hover {
  transition: transform 0.3s ease;
  transform: translateY(-10px);
}

/*General Content Fonts */

.BotanicalGardensTitle {
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
  color: #777937
}

.SnackpassTitle {
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
  color: #04BCFC
}


.Summary {
  font-size: 20px;
  font-weight: 300px;
}

/* KEY FRAMES & ANIMATIONS */

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.hidden {
  opacity:  0;
  transform: translateY(30px);
  transition: all 1.3s;
}

.show {
  transform: translateY(0px);
  opacity: 1;
}



/*BOTTOM PAGE SPACING  */

.Description {
  margin-bottom: 90px;
}

/*BOTTOM PAGE*/

.LetsChat {
  flex-wrap: wrap;
  margin-top: 30;
}

.LetsExplore {
  flex-wrap: wrap;
  margin-top: 30;
  
}

.LetsChatTitle, .ExploreTitle {
  font-size: 30;
  font-weight: 500;
}

.BottomOfPage  a {
 text-decoration: underline;
 color: inherit;
}

.BottomOfPage {
  font-family: "Work Sans";
  display: flex;
  justify-content: column;
  justify-content: row;
  justify-content: space-evenly;
  
}

.SmilingPic img {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20px;
    right: 0;
    top: 20;
    border: 1px solid white;
}